<h1><%= @user.name %>のページ</h1>

<% if @user.image? %>
  <%= image_tag @user.user_image.url %>
<% else %>
  <%= image_tag (asset_path'no_image.png') %>
<% end %>
<h3><%= @user.name %></h3>
<p><%= @user.prefectures %></p>
<p><%= @user_age %>代</p>
<p><%= @user.sex %></p>
<p>自己紹介<%= @user.introduction %></p>

<p>Twitter<%= @user.twitter_url %></p>
<p>Instagram<%= @user.instagram_url %></p>
<p>Tiktok<%= @user.tiktok_url %></p>
<p>Facebook<%= @user.facebook_url %></p>
<p>YouTube<%= @user.youtube_url %></p>
<p>Website<%= @user.website_url %></p>


<%= link_to "プロフィール編集", edit_user_registration_path(@user) %>
